@charset "utf-8";

* { margin: 0; padding: 0; }
body { font-family: "Arial"; }
ul, li, ol { list-style: none; margin: 0; padding: 0 20px 0 40px; }

header { width: 1100px; height: 100px; margin: 0 auto;}
#logo { float: left; width: 130px; height: 70px; margin: 10px 0 0 20px; }

nav { float: right; width: 740px; height: 30px; margin: 30px 100px 0 0; }
nav li { display: inline-block; }
nav li a { color: black; text-decoration: none; font-weight: 900; }
nav li a:hover { color: white; background-color: aquamarine; }

#slider { width: 1100px; height: 450px; margin: 0 auto; }
section { width: 1100px; height: 280px; margin: 0 auto; }
article {
    float: left; width: 340px; height: 145px; margin: 80px 0 0 13px;
    background-color: yellow; border: 5px solid black; border-radius: 10px;
}

footer { width: 1100px; height: 100px; margin: 0 auto; background-color: #eee; }
footer img { float: left; margin: 25px 0 0 10px; }
footer div { float: left; margin: 40px 0 0 170px; }